/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: rgb(206, 179, 30); 
    align-items: center;
    color: #ffffff; 
    
    
}

/* Estilos para el contenedor del carrito */
.cart-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Estilos para el contenedor de productos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Estilos para la columna en dispositivos medianos */
.col-md-4 {
    margin-top: 20px; 
}

/* Estilos para la lista del carrito */
.cart-list {
    list-style: none;
    padding: 0;
}

/* Estilos para los elementos de la lista del carrito */
.cart-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-list li span {
    flex-grow: 1;
    margin-right: 10px;
}

/* Estilos para los botones de checkout y limpiar carrito */
.checkout-btn,
.clear-cart-btn {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

/* Estilos para dispositivos pequeños (hasta 768px) */
@media (max-width: 768px) {
    .col-md-4 {
        margin-top: 0;
    }
    .cart-container {
        margin-top: 20px; /* Ajusta el margen superior según sea necesario en dispositivos pequeños */
    }
}

/* Estilos para el botón de eliminación del carrito */
.remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #d32f2f;
}

/* Estilos para la posición centrada de la marca de la barra de navegación */
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilos para el modal personalizado */
.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 216, 31, 0.637); 
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

/* Estilos para el botón de cierre del modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

/* Estilos para la alerta personalizada */
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 8px;
    z-index: 2;
}

/* Estilos para el formulario del cliente */
.customer-form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor del formulario */
}

/* Estilos para los grupos de formulario */
.form-group {
    margin-bottom: 15px;
}

/* Estilos para las etiquetas de formulario */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para los campos de formulario */
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Estilos para el botón primario */
.btn-primary {
    color: #fff;
    background-color: #388a09; 
    border-color: #d67244;
}

.btn-primary:hover {
    background-color: #83b807; /* Cambia el color al pasar el ratón */
}

/* Estilos para el botón secundario */
.btn-secondary {
    color: #fff;
    background-color: #d67244; 
    border-color: #388a09;
}

.btn-secondary:hover {
    background-color: #a73c2e; /* Cambia el color al pasar el ratón */
}

